<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Human Interest 401(k) Verifier</title>
  </head>
  <body>
    <div class="container-md">
      <div id="before-paste">
        <div class="px-4 my-5 text-center">
          <h1 class="display-5 fw-bold">Human Interest 401(k) Verifier</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead">This tool helps you perform some basic sanity checks on how Human
            Interest reinvests your 401(k) funds after your company migrates from another 401(k)
            provider</p>
          </div>
        </div>
        <div class="px-4 col-lg-10">
          <h2>Sanity checks</h2>
          <ol>
            <li>For each fund reinvested, Shares × Price = Amount</li>
            <li>Reinvested funds were purchased at the correct price for that date</li>
            <li>Funds were allocated according to user's selected allocation</li>
            <li>Add up total amount reinvested</li>
          </ol>
        </div>
        <div class="px-4 col-lg-10">
          <h2>Instructions</h2>
          <ol>
            <li>Click on <strong>History</strong> in header</li>
            <li>Click on <strong>View More</strong> in the Activity panel</li>
            <li>Click <strong>Load More</strong> at the bottom of the All Transactions panel. Keep
            doing this until you see a yellow tab labeled <strong>Plan Conversion</strong>, followed
            by this text: <em>Assets from a previous provider totalling $_____  were
            reinvested.</em></li>
            <li>Click the <strong>V</strong> symbol to expand the Plan Conversion</li>
            <li>Wait for Plan Conversion section to load</li>
            <li>Select all text on the page (Command-A on macOS, Control-A on Windows)</li>
            <li>Copy selected text to clipboard (Command-C on macOS, Control-C on Windows)</li>
            <li>Pasted copied text to this page (Command-V on macOS, Control-V on Windows)</li>
          </ol>
        </div>
        <div class="px-4 col-lg-10">
          <h2>Privacy</h2>
          <p>At each step of development, user privacy has been prioritized. None of your data is
          logged or persisted.</p>
          <p>Also note that when you select all text on the Human Interest site, your name is not
          included in the selected text, so it is never pasted into this tool.</p>
          <p>The source code for this tool is available at <a
          href="https://github.com/kenthu/human-interest-verifier">https://github.com/kenthu/human-interest-verifier</a></p>
        </div>
      </div>
      <div id="results" style="display: none">
        <div id="breakdown"></div>
        <div id="verification"></div>
      </div>
    </div>
  </body>
</html>
