<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Human Interest 401(k) Verifier</title>
    <script src="https://kit.fontawesome.com/ad67916d83.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-md">
      <div id="before-paste">
        <div class="px-4 my-5 text-center">
          <h1 class="display-5 fw-bold">Human Interest 401(k) Verifier</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead">This tool performs basic verification on how Human&nbsp;Interest
            reinvests your 401(k) funds after your company migrates from another 401(k) provider</p>
          </div>
        </div>
        <div class="container px-4 my-3" id='verification-list'>
          <h2 class="pb-2 border-bottom">Supported Checks</h2>
          <div class="row g-4 py-3 row-cols-1 row-cols-lg-4">
            <div class="col">
              <div class="feature-icon bg-primary bg-gradient"><i class="fas fa-hashtag"></i></div>
              <h3>Shares</h3>
              <p>Were shares calculated correctly for each fund reinvested?<br>(Shares × Price = Amount)</p>
            </div>
            <div class="col">
              <div class="feature-icon bg-primary bg-gradient"><i class="fas fa-dollar-sign"></i></div>
              <h3>Price</h3>
              <p>Were reinvested funds purchased at the correct price?</p>
            </div>
            <div class="col">
              <div class="feature-icon bg-primary bg-gradient"><i class="fas fa-chart-pie"></i></div>
              <h3>Allocation</h3>
              <p>Were funds reinvested according to your selected allocation?</p>
            </div>
            <div class="col">
              <div class="feature-icon bg-primary bg-gradient"><i class="fas fa-piggy-bank"></i></div>
              <h3>Transfer</h3>
              <p>Were all funds from previous 401(k) reinvested?</p>
            </div>
          </div>
        </div>
        <div class="px-4 my-3">
          <h2 class="pb-2 border-bottom">Sample Results</h2>
          <div class="mt-3">
            <a id='sample-link' href='#sample-modal' data-bs-toggle='modal'>
              <img src="images/sample_results_thumb.png" class="img-thumbnail" width="222">
            </a>
          </div>
        </div>
        <div class='modal fade' id='sample-modal' tabindex='-1' aria-labelledby='sample-modal-label' aria-hidden='true' style='display: none'>
          <div class='modal-dialog modal-dialog-centered modal-xl'>
            <div class='modal-content'>
              <div class='modal-header'>
                <h5 class='modal-title' id='sample-modal-label'>Sample results</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
              </div>
              <div class='modal-body'>
                <img src="images/sample_results.png" class="img-fluid" alt="sample results">
              </div>
              <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="px-4 my-3 col-lg-10">
          <h2 class="pb-2 border-bottom">Using This Tool</h2>
          <p>
            To maintain your privacy and security, this tool does not ask for your Human Interest
            username and password. Instead, we walk you through how to copy transaction data while
            logged in, then paste it into this tool.
          </p>
          <h2 class="pb-2 border-bottom">Instructions</h2>
          <ol id='instructions'>
            <li>Sign in to <a href='https://humaninterest.com/' target='_blank'>Human Interest</a></li>
            <li>
              Click on <strong>History</strong> in the header, then click on <strong>View
              More</strong><br>
              <img src="images/inst_history_view_more.png" class="img-fluid" alt="History screenshot">
            </li>
            <li>
              Click <strong>Load More</strong> at the bottom of the All Transactions panel.<br>
              <img src="images/inst_load_more.png" class="img-fluid" alt="Load More screenshot">
            </li>
            <li>
              Keep scrolling and clicking <strong>Load More</strong> until you see a yellow tab
              labeled <strong>Plan Conversion</strong>, followed by this text: <em>Assets from a
              previous provider totalling $_____  were reinvested.</em>
            </li>
            <li>
              Click the <strong>V</strong> symbol to expand the Plan Conversion<br>
              <img src="images/inst_v_symbol.png" class="img-fluid" alt="V Symbol screenshot">
            </li>
            <li>Wait for Plan Conversion section to load</li>
            <li>Select all text on the page <em>(Command-A on macOS, Control-A on Windows)</em></li>
            <li>Copy selected text to clipboard <em>(Command-C on macOS, Control-C on Windows)</em></li>
            <li>
              Paste copied text to this page <em>(Command-V on macOS, Control-V on Windows)</em>. No
              need to paste into an input field, just paste directly!
            </li>
          </ol>
        </div>
        <div class="px-4 my-3 col-lg-10">
          <h2 class="pb-2 border-bottom">Privacy</h2>
          <p>At each step of development, user privacy has been prioritized. None of your data is
          logged or persisted.</p>
          <p>Also note that when you select all text on the Human Interest site, your name is not
          included in the selected text, so it is never pasted into this tool.</p>
          <p>The source code for this tool is available at <a
          href="https://github.com/kenthu/human-interest-verifier">https://github.com/kenthu/human-interest-verifier</a></p>
        </div>
      </div>
      <div id="results" style="display: none">
        <div class="px-4 my-5 text-center">
          <h1 class="display-5 fw-bold">Human Interest 401(k) Verifier</h1>
        </div>
        <div class="px-4 my-5 col-lg-10">
          <h2>Verification Results</h2>
          <h3>Check #1: Were shares calculated correctly for each fund reinvested?</h3>
          <p id="check1-pass" style="display: none">
            <span class="badge bg-success"><i class="fas fa-check-circle"></i> PASS</span><br>
            You received the correct number of shares for all transactions in the reinvestment. (Shares = Amount / Price)
          </p>
          <p id="check1-discrepancy" style="display: none; color: red">
            <span class="badge bg-danger"><i class="fas fa-times-circle"></i> DISCREPANCY</span><br>
            You received the wrong number of shares for one or more transactions.
          </p>
          <p>See <a href="#breakdown">Transaction Breakdown</a> below for more details.</p>
          <h3>Check #2: Were reinvested funds purchased at the correct price?</h3>
          <p id="check2-pass" style="display: none">
            <span class="badge bg-success"><i class="fas fa-check-circle"></i> PASS</span><br>
            All reinvested funds were purchased at the correct price.
          </p>
          <p id="check2-discrepancy" style="display: none; color: red">
            <span class="badge bg-danger"><i class="fas fa-times-circle"></i> DISCREPANCY</span><br>
            Your shares were bought at the incorrect price for one or more transactions.
          </p>
          <p id="check2-link-to-breakdown" style="display: none">
            See <a href="#breakdown">Transaction Breakdown</a> below for more details.
          </p>
          <p id="check2-fallback" style="display: none">
            <span class="badge bg-warning text-dark"><i class="fas fa-exclamation-triangle"></i>
            MANUAL STEPS REQUIRED</span><br>
            For each fund in the <a href="#breakdown">Transaction Breakdown</a> below, click the
            <strong>Price</strong> to open a new tab with actual historical prices for that fund.
            Find the <strong>Close</strong> price for <strong><span id="transaction-date"></span>
            </strong> in the new tab, then verify that it matches the price you clicked on.
          </p>
          <h3>Check #3: Were funds reinvested according to your selected allocation?</h3>
          <p>
            <span class="badge bg-warning text-dark"><i class="fas fa-exclamation-triangle"></i>
            MANUAL STEPS REQUIRED</span><br>
            The <a href="#allocation">Actual Allocation table</a> below shows how Human Interest
            allocated your balance into various funds during the migration. Check that it matches
            the allocation you requested.
          </p>
          <h3>Check #4: Were all funds from previous 401(k) reinvested?</h3>
          <p>
            <span class="badge bg-warning text-dark"><i class="fas fa-exclamation-triangle"></i>
            MANUAL STEPS REQUIRED</span><br>
            Human Interest reinvested <strong><span id="total-amount"></span></strong> into your new
            401(k) during the migration. Confirm this total amount against your previous 401(k)
            provider's final statement.
          </p>
        </div>
        <div class="px-4 my-5 col-lg-12">
          <h2 id='breakdown'>Transaction Breakdown</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Fund</th>
                <th>Symbol</th>
                <th class="text-right">Shares</th>
                <th class="text-right">Price</th>
                <th class="text-right">Amount</th>
                <th>Verification</th>
              </tr>
            </thead>
            <tbody id='breakdown-body'>
            </tbody>
          </table>
        </div>
        <div class="px-4 my-5 col-lg-8">
          <h2 id='allocation'>Actual Allocation</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Fund</th>
                <th>Symbol</th>
                <th class="text-right">Amount<br>Allocated</th>
              </tr>
            </thead>
            <tbody id='allocation-body'>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class='modal fade' id='error-modal' tabindex='-1' aria-labelledby='error-modal-label' aria-hidden='true' style='display: none'>
      <div class='modal-dialog modal-dialog-centered'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='error-modal-label'>
              <span class='badge bg-danger'><i class='fas fa-times-circle'></i> ERROR</span>
            </h5>
            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
          </div>
          <div class='modal-body' id='error-modal-text'></div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
