<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Human Interest 401(k) Verifier</title>
    <script src="https://kit.fontawesome.com/ad67916d83.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-md">
      <div id="before-paste">
        <div class="px-4 my-5 text-center">
          <h1 class="display-5 fw-bold">Human Interest 401(k) Verifier</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead">This tool helps you perform some basic sanity checks on how Human
            Interest reinvests your 401(k) funds after your company migrates from another 401(k)
            provider</p>
          </div>
        </div>
        <div class="px-4 col-lg-10">
          <h2>Sanity checks</h2>
          <ol>
            <li>For each fund reinvested, Shares × Price = Amount</li>
            <li>Reinvested funds were purchased at the correct price for that date</li>
            <li>Funds were allocated according to user's selected allocation</li>
            <li>Add up total amount reinvested</li>
          </ol>
        </div>
        <div class="px-4 col-lg-10">
          <h2>Instructions</h2>
          <ol>
            <li>Click on <strong>History</strong> in header</li>
            <li>Click on <strong>View More</strong> in the Activity panel</li>
            <li>Click <strong>Load More</strong> at the bottom of the All Transactions panel. Keep
            doing this until you see a yellow tab labeled <strong>Plan Conversion</strong>, followed
            by this text: <em>Assets from a previous provider totalling $_____  were
            reinvested.</em></li>
            <li>Click the <strong>V</strong> symbol to expand the Plan Conversion</li>
            <li>Wait for Plan Conversion section to load</li>
            <li>Select all text on the page (Command-A on macOS, Control-A on Windows)</li>
            <li>Copy selected text to clipboard (Command-C on macOS, Control-C on Windows)</li>
            <li>Pasted copied text to this page (Command-V on macOS, Control-V on Windows)</li>
          </ol>
        </div>
        <div class="px-4 col-lg-10">
          <h2>Privacy</h2>
          <p>At each step of development, user privacy has been prioritized. None of your data is
          logged or persisted.</p>
          <p>Also note that when you select all text on the Human Interest site, your name is not
          included in the selected text, so it is never pasted into this tool.</p>
          <p>The source code for this tool is available at <a
          href="https://github.com/kenthu/human-interest-verifier">https://github.com/kenthu/human-interest-verifier</a></p>
        </div>
      </div>
      <div id="results" style="display: none">
        <div class="px-4 my-5 text-center">
          <h1 class="display-5 fw-bold">Human Interest 401(k) Verifier</h1>
        </div>
        <div class="px-4 my-5 col-lg-10">
          <h2>Verification Results</h2>
          <h3>Check #1: Were shares calculated correctly for each fund reinvested?</h3>
          <p>
            <span class="badge bg-success"><i class="fas fa-check-circle"></i> PASS</span><br>
            You received the correct number of shares for all transactions in the reinvestment. (Shares = Amount / Price)
          </p>
          <p>See <a href="#breakdown">Transaction Breakdown</a> for more details.</p>
          <p>
            <span class="badge bg-danger"><i class="fas fa-times-circle"></i> DISCREPANCY</span><br>
            You received the wrong number of shares for one or more transactions.
          </p>
          <p>See <a href="#breakdown">Transaction Breakdown</a> for more details.</p>
          <h3>Check #2: Were reinvested funds purchased at the correct price?</h3>
          <p>
            <span class="badge bg-warning text-dark"><i class="fas fa-exclamation-triangle"></i>
            MANUAL STEPS REQUIRED</span><br>
            For each fund in the <a href="#breakdown">Transaction Breakdown</a>, click the
            <strong>Price</strong> to open a new tab with actual historical prices for that fund.
            Find the <strong>Close</strong> price for <strong>Jan 01, 2021</strong> in the new tab,
            then verify that it matches the price you clicked on.
          </p>
          <h3>Check #3: Were funds reinvested according to your selected allocation?</h3>
          <p>
            <span class="badge bg-warning text-dark"><i class="fas fa-exclamation-triangle"></i>
            MANUAL STEPS REQUIRED</span><br>
            Compare the <a href="#allocation">Allocation table</a> to your requested allocation
          </p>
          <h3>Check #4: Were all funds from previous 401(k) reinvested?</h3>
          <p>
            <span class="badge bg-warning text-dark"><i class="fas fa-exclamation-triangle"></i>
            MANUAL STEPS REQUIRED</span><br>
            Human Interest reinvested <strong>$xx,xxx.xx</strong>. Confirm this amount against your
            previous 401(k) provider's final statement.
          </p>
        </div>
        <div class="px-4 col-lg-12">
          <h2 id='breakdown'>Transaction Breakdown</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Fund</th>
                <th>Symbol</th>
                <th class="text-right">Shares</th>
                <th class="text-right">Price</th>
                <th class="text-right">Amount</th>
                <th>Verification</th>
              </tr>
            </thead>
            <tbody id='breakdown-body'>
              <!--
              <tr>
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>fa-check</td>
                <td><i class="fas fa-check" style="color: green"></i></td>
              </tr>
              <tr>
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>fa-check-square</td>
                <td><i class="fas fa-check-square" style="color: green"></i></td>
              </tr>
              <tr>
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>fa-check-circle</td>
                <td><i class="fas fa-check-circle" style="color: green"></i></td>
              </tr>
              <tr>
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>unicode 2713</td>
                <td style="color: green">✓</td>
              </tr>
              <tr>
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>unicode 2714</td>
                <td>✔</td>
              </tr>
              <tr>
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>unicode 2705</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>fa-times</td>
                <td><i class="fas fa-times" style="color: red"></i></td>
              </tr>
              <tr>
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>fa-times-circle</td>
                <td><i class="fas fa-times-circle" style="color: red"></i></td>
              </tr>
              <tr>
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>fa-exclamation</td>
                <td><i class="fas fa-exclamation" style="color: red"></i></td>
              </tr>
              <tr>
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>fa-exclamation-triangle</td>
                <td><i class="fas fa-exclamation-triangle" style="color: red"></i></td>
              </tr>
              <tr>
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>fa-exclamation-circle</td>
                <td><i class="fas fa-exclamation-circle" style="color: red"></i></td>
              </tr>
              <tr style="background-color: yellow">
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>fa-exclamation-triangle</td>
                <td><i class="fas fa-exclamation-triangle" style="background-color: yellow;"></i></td>
              </tr>
              <tr style="background-color: yellow">
                <td>Fund</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>U+26A0</td>
                <td>⚠</td>
              </tr>
              -->
            </tbody>
          </table>
        </div>
        <div id="verification"></div>
      </div>
    </div>
  </body>
</html>
