a {
  color: black;
}

#instructions li {
  margin-bottom: 0.4rem;
}

#instructions img {
  margin-left: 1rem;
  margin-bottom: 1.2rem;
}

#results h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
}

#results .badge {
  margin-bottom: 1rem;
}

th.text-right,td.text-right {
  text-align: right;
}

#breakdown-body i.fa-check-circle {
  color: green;
}

#breakdown-body i.fa-times-circle {
  color: red;
}

.issue-description:not(:first-child) {
  margin-top: 1rem;
}

#error-modal .modal-header {
  background: rgb(220, 53, 69);
}

#error-modal .modal-title .badge {
  font-size: 1.0em;
}
